* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("https://cdn.imgchest.com/files/k739c63le7q.png");
  background-repeat: no-repeat;
  background-position: top left;


}

.container {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;

  column-gap: 15px;
  row-gap: 20px;
}

.container > * {
  background-color: lightblue;
  font-size: 10rem;
  color: blue;
  border: 2px dashed blue;

  flex-shrink: 1;
  flex-grow: 1;
  height: 199.1px;
}

.box1{
  flex-basis: calc(19% - 10px);
}

.box2{
  flex-basis: calc(41.5% - 10px);
}

.box3{
  flex-basis: calc(39.5% - 10px);
}

.box4{
  flex-basis: calc(81.5% - 10px);
}

.box5{
  flex-basis: calc(18.5% - 10px);
}

.box6{
  flex-basis: calc(100% - 10px);
}