* {
  margin: 0;
}

body {
  font-family: Verdana;
}

#header {
  background-color: dimgray;
  height: 6rem;
  border-bottom: 0.5rem solid LightCoral;
}

h1 {
  font-size: 1.5rem;
  color: white;
}

#title {
  height: 32rem;
  background-color: lightgray;
  text-align: center;
}

#about {
  display: flex;
}

#about img {
  height: 21rem;
}

h3 {
  color: LightCoral;
  width: 14rem;
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
}

#fav {
  display: flex;
  justify-content: space-evenly;
}
